# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.pdf
alireza a1ms2/a1ms2/a1ms2/Debug/a1ms2.tlog/link.write.1.tlog
alireza a1ms2/a1ms2/a1ms2/Debug/a1ms2.tlog/link.read.1.tlog
alireza a1ms2/a1ms2/a1ms2/Debug/a1ms2.tlog/link.command.1.tlog
alireza a1ms2/a1ms2/a1ms2/Debug/a1ms2.tlog/CL.write.1.tlog
alireza a1ms2/a1ms2/a1ms2/Debug/a1ms2.tlog/CL.read.1.tlog
alireza a1ms2/a1ms2/a1ms2/Debug/a1ms2.tlog/CL.command.1.tlog
alireza a1ms2/a1ms2/a1ms2/Debug/a1ms2.tlog/a1ms2.lastbuildstate
alireza a1ms2/a1ms2/a1ms2/Debug/a1ms2.log
alireza a1ms2/a1ms2/a1ms2/Debug/a1ms2.exe.recipe
alireza a1ms2/a1ms2/a1ms2/core.h
alireza a1ms2/a1ms2/a1ms2/core.c
alireza a1ms2/a1ms2/a1ms2/clinic.h
alireza a1ms2/a1ms2/a1ms2/clinic.c
alireza a1ms2/a1ms2/a1ms2/a1ms2.vcxproj.user
alireza a1ms2/a1ms2/a1ms2/a1ms2.vcxproj.filters
alireza a1ms2/a1ms2/a1ms2/a1ms2.vcxproj
alireza a1ms2/a1ms2/a1ms2/a1ms2.c
alireza a1ms2/a1ms2/a1ms2.sln
alireza a1ms2/a1ms2/.vs/a1ms2/v16/ipch/AutoPCH/b5131274f53a67d/CORE.ipch
alireza a1ms2/a1ms2/.vs/a1ms2/v16/ipch/AutoPCH/b1ad5599eda9848a/CLINIC.ipch
alireza a1ms2/a1ms2/.vs/a1ms2/v16/ipch/AutoPCH/8f537f5f5f96e6e4/A1MS2.ipch
alireza a1ms2/a1ms2/.vs/a1ms2/v16/Browse.VC.opendb
alireza a1ms2/a1ms2/.vs/a1ms2/v16/Browse.VC.db-wal
alireza a1ms2/a1ms2/.vs/a1ms2/v16/Browse.VC.db-shm
alireza a1ms2/a1ms2/.vs/a1ms2/v16/Browse.VC.db
alireza a1ms2/a1ms2/.vs/a1ms2/v16/.suo
alireza a1ms1/Project1/Project1/x64/Debug/Project1.tlog/Project1.lastbuildstate
alireza a1ms1/Project1/Project1/x64/Debug/Project1.tlog/link.write.1.tlog
alireza a1ms1/Project1/Project1/x64/Debug/Project1.tlog/link.read.1.tlog
alireza a1ms1/Project1/Project1/x64/Debug/Project1.tlog/link.command.1.tlog
alireza a1ms1/Project1/Project1/x64/Debug/Project1.tlog/CL.write.1.tlog
alireza a1ms1/Project1/Project1/x64/Debug/Project1.tlog/CL.read.1.tlog
alireza a1ms1/Project1/Project1/x64/Debug/Project1.tlog/CL.command.1.tlog
alireza a1ms1/Project1/Project1/x64/Debug/Project1.log
alireza a1ms1/Project1/Project1/x64/Debug/Project1.exe.recipe
alireza a1ms1/Project1/Project1/Project1.vcxproj.user
alireza a1ms1/Project1/Project1/Project1.vcxproj.filters
alireza a1ms1/Project1/Project1/Project1.vcxproj
alireza a1ms1/Project1/Project1.sln
alireza a1ms1/Project1/.vs/Project1/v17/ipch/AutoPCH/96f262b40d86785d/CORE.ipch
alireza a1ms1/Project1/.vs/Project1/v17/Browse.VC.db
alireza a1ms1/Project1/.vs/Project1/v17/.suo
alireza a1ms1/New folder (2)/Seneca
alireza a1ms1/New folder (2)/reflect.txt
alireza a1ms1/New folder (2)/R
alireza a1ms1/New folder (2)/output.txt
alireza a1ms1/New folder (2)/ms1
alireza a1ms1/New folder (2)/horse
alireza a1ms1/New folder (2)/error.txt
alireza a1ms1/New folder (2)/error
alireza a1ms1/New folder (2)/dogs
alireza a1ms1/New folder (2)/diff.txt
alireza a1ms1/New folder (2)/core.h
alireza a1ms1/New folder (2)/core.c
alireza a1ms1/New folder (2)/a1ms1Master.c
alireza a1ms1/New folder (2)/a1ms1_output.txt
alireza a1ms1/New folder (2)/a1ms1.c
alireza a1ms1/New folder (2)/14
alireza a1ms1/New folder (2)/0%3A
alireza a1ms1/New folder (2)/-100
